<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbc.mapper.MeetingRoomMapper">

    <select id="getAllMeetingRoom" resultType="com.xbc.pojo.MeetingRoom">
    select
        roomid as roomId
         ,roomnum as roomNum
        ,roomname as roomName
        ,capacity as capacity
        ,status as status
        ,description as description
    from meetingroom
    </select>
    <select id="getMeetingRoomById" resultType="com.xbc.pojo.MeetingRoom">
        select
            roomid as roomId
             ,roomnum as roomNum
             ,roomname as roomName
             ,capacity as capacity
             ,status as status
             ,description as description
        from meetingroom where roomid=#{roomId}
    </select>

    <update id="updateRoom">
        update meetingroom
        set roomNum=#{mr.roomNum},roomName=#{mr.roomName},capacity=#{mr.capacity},
            status=#{mr.status},description=#{mr.description}
        where roomId=#{mr.roomId}
    </update>

    <insert id="AddMeetingRoom">
        insert into meetingroom(roomNum,roomName,capacity,status,description)
         value (#{mr.roomNum},#{mr.roomName},#{mr.capacity},#{mr.status},#{mr.description})
    </insert>
</mapper>