<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbc.mapper.ReserveMeetingMapper">

    <!--  查询该用户需要参加的会议  -->
    <select id="getMeetingByParticipate" resultType="com.xbc.pojo.ReserveMeeting">
        select ee.employeename as employeeName
             ,me.meetingname as meetingName
             ,mr.roomname as roomName
             ,me.starttime as startTime
             ,me.endtime as endTime
            ,me.canceledreason as canceledReason
            ,me.status as status
            ,me.meetingid as meetingId
            ,me.roomid as meetingRoomId
        from employee ee
                 left join meetingparticipants mp on mp.employeeid=ee.employeeid
                 left join meeting me on mp.meetingid=me.meetingid
                 left join meetingroom mr on mr.roomid=me.roomid
        where me.roomid is not null
        <if test="employeeId!=null">
          and ee.employeeid=#{employeeId}
        </if>
    </select>

    <select id="getMeetingRoomDetails" resultType="com.xbc.pojo.ReserveMeeting">
        select *from meeting where meetingid=#{meetingId}
    </select>

    <!--  查出所有会议  -->
    <select id="getAllReserveMeeting" resultType="com.xbc.pojo.ReserveMeeting">
        select mr.roomname as roomName
             , mr.roomid as meetingRoomId
             ,me.meetingid as meetingId
             ,me.meetingname as meetingName
             ,ee.employeename as employeeName
             ,me.starttime as startTime
             ,me.endtime as endTime
             ,me.reservationtime as reservationTime
        from meeting me
        left join meetingroom mr on me.roomid=mr.roomid
        left join employee ee on me.reservationistid=ee.employeeid
        where me.roomid=mr.roomid
          <if test="que.meetingName!=null and que.meetingName!=''">
              and me.meetingname like "%"#{que.meetingName}"%"
          </if>
          <if test="que.roomName!=null and que.roomName!='' ">
              and mr.roomname like "%"#{que.roomName}"%"
          </if>
          <if test="que.reservationName!=null and que.reservationName!=''">
              and ee.employeename like "%"#{que.reservationName}"%"
          </if>
          <if test="que.reservationId!=null">
             and me.reservationistid=#{que.reservationId}
          </if>
        <if test="que.page!=null ">
          limit #{que.page},#{que.pageSize}
        </if>
    </select>

    <select id="geTotal" resultType="int">
        select count(*) as num
        from meeting me, meetingroom mr,
             employee em
        where me.roomid=mr.roomid and em.employeeid=me.reservationistid
    </select>

    <!--  根据会议id查出参加会议的人员  -->
    <select id="getParticipateByMeetingId" resultType="com.xbc.pojo.Employee">
        select ee.employeename as employeeName
            ,ee.phone as phone
            ,ee.email as email
        from meetingparticipants mp
        left join employee ee on ee.employeeid=mp.employeeid
        where mp.meetingid=#{meetingId}
        and ee.employeename is not null
    </select>

    <!--  查出所有会议室  -->
    <select id="getAllRoom" resultType="com.xbc.pojo.MeetingRoom">
        select roomname as roomName
             ,roomnum as roomNum
             ,capacity as capacity
             ,description as description
             ,roomid as roomId
             ,status as status
        from meetingroom
        where status!=1
    </select>
</mapper>